body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    color: black;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding-top: 10%;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    color: white;
}

.table-gallery {
    display: grid;
    max-width: 60%;
    max-height: 500px;
    margin: 20px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #333;
    background: #1A1A1A;
}

.table img{
    width: 100%;
    max-height: 250px;
    height: auto; 
    object-fit: contain;
    display: block;
}

.table button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transform: translateX(-50%);
}

.table button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .tables-container {
        grid-template-columns: repeat(2, 1fr);
    }
}