body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    color: black;
    font-family: Arial, sans-serif; /* Using a standard font */
    text-color: White;
}
.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
    color: white;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}