.like-btn:hover {
    fill: #bf1d3d;
    cursor: pointer;
}

.like-container {
    display: flex;
    /* margin-left: 100%; */
}

.message {
    display: flex;
    align-items: center;
    justify-content: left;
    /* width: 100%;
    height: auto; */
    /* justify-content: space-between; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-message-container {
    display: flex;
    align-items: center;
    justify-content: left;
    justify-content: space-between;
    max-width: 650px;
}

.username{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: auto;
    margin-top: 10px;
}
.message_text {
    text-align: left;
    word-break: break-all;
    width: 600px;
    margin-bottom:auto;
    margin-top: 10px;
}
.chat-profile-pic{
    margin-bottom: auto;
}

.chat-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.chat-message-container {
    background-color: #aaaaaa;
    width: 50%;
    min-height: 200px;
    max-height: 300px;
    overflow-x:auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.chat-form {
    display: flex;
}

.display-table {
    display: flex;
}

.dealer-box {
    background-color: purple;
}

.current-player {
    background-color: green;
}

.right-table {
    background-color: red;
}

#start_now_btn {
    border: 2px solid #EEBD22;
    border-radius: 10px;
    background-color: #35654d;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}