<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Login window popup stuff -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <div id="login-header">
                <h2 id="login-header-text">Login</h2>
                <span class="close" onclick="closeLoginModal()">&times;</span>
            </div>
            <form id="login-form">
                <input type="text" id="username" class="input-basic" placeholder="Username" required>
                <input type="password" id="password" class="input-basic" placeholder="Password" required>
                <button id="submit" class="basic-button primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="container">

        <h1 style="color: #EEBD22;">Blackjack</h1>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/index-background.png') }}" alt="landing-page-backgroung">
        </div>

        <div class="buttons">
            <button id="exit">EXIT</button>
            <button id="play">PLAY</button>
            <button id="login" onclick="openLoginModal()">LOGIN</button>
        </div>

    </div>

    <div class="container chat-container">
        <div class="chat-form">
            <input type="text" id="chat-text" class="input-basic" placeholder="Send message">
            <button id="chat-submit" class="basic-button primary">Submit</button>
        </div>

        <div class="chat-message-container">

        </div>
    </div>

    <footer>
        <div>
            Helpful Links
            <ul>
                <li><a href="/">Terms and Conditions</a></li>
                <li><a href="/">Market</a></li>
                <li><a href="/">Something else</a></li>
                <li><a href="/">Other rules</a></li>
                <li><a href="https://www.ncpgambling.org/help-treatment/about-the-national-problem-gambling-helpline/">Gambling Problem?</a></li>
            </ul>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
