<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <div class="page-container">
        
        <div class="header">

        </div>

        <div class="table-gallery">

            <div class="table" id="table1">
                <h2>Table 1</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join1">Join</button>
            </div>
            <div class="table" id="table2">
                <h2>Table 2</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join2">Join</button>
            </div>
            <div class="table" id="table3">
                <h2>Table 3</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join3">Join</button>
            </div>
            <div class="table" id="table4">
                <h2>Table 4</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join4">Join</button>
            </div>
            <div class="table" id="table5">
                <h2>Table 5</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join5">Join</button>
            </div>
            <div class="table" id="table6">
                <h2>Table 6</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join6">Join</button>
            </div>
            <div class="table" id="table7">
                <h2>Table 7</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join7">Join</button>
            </div>
            <div class="table" id="table8">
                <h2>Table 8</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join8">Join</button>
            </div>
            <div class="table" id="table9">
                <h2>Table 9</h2>
                <img src="static\images\tables\1280px-Blackjack_board.jpg" alt="Table Image">
                <button id="join9">Join</button>
            </div>

        </div>

        <div class="sidebar">

        </div>

    </div>



</body>

</html>