<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <style>
        .dark-mode {
            background-color: #333;
            color: white;
        }
    </style>
</head>
<body>
    <script>
        function getUsername() {
            return "{{ current_user.id }}"
        }
    </script>
<div class="container">
    <h1>Settings</h1>
    <button id="light">Light</button>
    <button id="dark">Dark</button>
</div>
<script>
    // Function to set the light theme
    function setLightTheme() {
        document.body.classList.remove('dark-mode');
    }

    // Function to set the dark theme
    function setDarkTheme() {
        document.body.classList.add('dark-mode');
    }

    // Adding click event listeners to the buttons
    document.getElementById('light').addEventListener('click', setLightTheme);
    document.getElementById('dark').addEventListener('click', setDarkTheme);
</script>
</body>
</html>