<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <title>Blackjack Table Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
    <script>
        function getUsername() {
            return "{{ current_user.id }}"
        }
    </script>
    
    <h1>Blackjack Table Room</h1>

    <div id="table">
    </div>

    <div class="dealer-box" id="dealer">
        <!-- dealer box -->
        <h2> Dealer </h2>
        <div class="hand" id="dealer-hand">
        </div>
    </div>

    <div class="container player-box" id="player-box">
        {% for player in table.players %}
        <div class="player" id="player-{{ player }}">
            c
            <p>Balance: 0</p>
            <p>Bet: 0</p>
            <p>Hand: 0</p>
            <!-- div for displaying hand -->
            <div class="hand" id="hand-{{ player }}">
            </div>
        </div>
        {% endfor %}

    </div>
    <button onclick="hit()" id="hit">
        Hit
    </button>
    <div class="container chat-box" id="chat-box-{{ table.table_id }}">
        <div class="chat-form">
            <input type="text" id="chat-text" class="input-basic" placeholder="Send message">
            <button onclick="sendChat(this)" class="basic-button primary">Submit</button>
        </div>

        <div class="chat-message-container">

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/chat.js')}}"></script>
</body>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script>
        const socket = io();
</script>
</html>